<body>
<header>
    {{ navigation.render() | safe }}
</header>
<main>
    <div class="container pt-5">
        {{ rendered_blocks.main | safe }}
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="text-muted">© Khalid Grandi</span>
            </div>
            <div class="col-md-4 justify-content-end d-flex text-secondary">

                Powered by&nbsp;
                <a class="link-secondary" href="test">test</a>


            </div>
        </footer>
    </div>
</main>


<!-- REQUIRED SCRIPTS -->
{{ component_includes.render_body_includes() | safe }}


</body>
