{% macro action_button_group(item=None, batch=False) %}
    <div class="btn-group" role="group">
        {% for a, _action in listing._actions.items() %}
            {% if not _action.hidden and (item or (batch and _action.batch)) %}
                <button
                        data-info='{{ {'action':a, 'item_id':'batch' if batch else item[listing.id_field] } | tojson }}'
                        onclick='Flaskly.submitListingAction(this); event.stopPropagation();' {# TODO: replace event #}
                        class="btn btn-default btn-sm"
                >{{ _action.button_inner_html() }}</button>
            {% endif %}
        {% endfor %}

    </div>
{% endmacro %}

{% macro filter_button_group(filter) %}
    {% set choices = filter(listing, items) %}
    {% set button_type = "btn-primary" if filter.active() else "btn-outline btn-outline-primary" %}

    {% if choices %}

        <div class="btn-group">
            {% if filter.toggle %}
                <a type="button" class="btn btn-sm btn-block {{ button_type }}"
                   href="{{ filter.choice_link("true") }}"
                >
                    {{ filter.title }}&nbsp;
                </a>
            {% else %}
                <button type="button" class="btn btn-sm btn-block {{ button_type }} dropdown-toggle dropdown-icon "
                        data-toggle="dropdown"
                        aria-expanded="false">
                    {{ filter.title }}&nbsp;
                </button>
                <div class="dropdown-menu" role="menu" style="">

                    {% for key, value in choices %}
                        {% set item_active = "active" if filter.active(key) else "" %}
                        <a class="dropdown-item {{ item_active }}" href="{{ filter.choice_link(key) }}"
                           data-key="{{ key }}">{{ value }}</a>
                    {% endfor %}
                    {#            <div class="dropdown-divider"></div>#}
                    {#            <a class="dropdown-item" href="#">Separated link</a>#}
                </div>
            {% endif %}

        </div>
    {% endif %}
{% endmacro %}


<div class="card">
    <div class="card-header">
        <div class="flaskly-filters">
            {% for filter in listing._filters %}
                {{ filter_button_group(filter) }}
            {% endfor %}
            <div class="float-right">
                <form method="get">
                    <div class="input-group input-group-sm">
                        <input name="query" type="text" class="form-control"
                               value="{{ request.args.get('query', '') }}"
                               placeholder="Search">
                        <input name="filters" type="hidden" value="{{ request.args.get('filters', '') }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>
    <form method="post" id="{{ listing.listing_id() }}" onsubmit="return false;">
        {{ listing.view_form.hidden_tag() }}
        <div class="card-body p-0">
            <div class="mailbox-controls">

                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
                </button>

                {{ action_button_group(batch=True) }}

                <a type="button" class="btn btn-default btn-sm" href="">
                    <i class="fas fa-sync-alt"></i>
                </a>
                <div class="float-right">
                    {{ count_str }}
                    <div class="btn-group">
                        <a type="button" class="btn btn-default btn-sm" href="{{ previous_page }}">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a type="button" class="btn btn-default btn-sm" href="{{ next_page }}">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>

                </div>

            </div>
            <div class="table-responsive">
                <table class="table table-hover table-sm ">
                    <thead {{ listing.hidden_thead() }}>
                    <tr>
                        <th class="shrink-cell" scope="col"></th>
                        {% for  f in listing._columns %}
                            {{ f.th() | safe }}
                        {% endfor %}
                        <th class="shrink-cell" scope="col"></th>

                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr
                                data-info='{{ {'action': 'view', 'item_id': item[listing.id_field] } | tojson }}'
                                onclick='Flaskly.submitListingAction(this);return false;'
                        >
                            <td class="shrink-cell">
                                <label>
                                    <input type="checkbox" name="id" value="{{ item[listing.id_field] }}" class="mr-2"
                                           onclick="event.stopPropagation();" {# TODO: replace event #}
                                    >
                                </label>
                            </td>
                            {% for f in listing._columns %}
                                {{ f.td(item) | safe }}
                            {% endfor %}
                            <td class="shrink-cell">
                                {{ action_button_group(item=item) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>

</div>
