{% macro action_button_group(item=None, batch=False) %}
    <div class="btn-group" role="group">
        {% for a in listing._actions %}
            {% set _action = listing[a] %}
            {% if item or (batch and _action.batch) %}
                <button
                        data-info='{{ {'action':a, 'item_id':'batch' if batch else item[listing.id_field] } | tojson }}'
                        onclick='Flaskly.submitListingAction(this);'
                        class="btn btn-default btn-sm"
                >{{ _action.button_inner_html() }}</button>
            {% endif %}
        {% endfor %}

    </div>
{% endmacro %}

<form method="post" id="{{ listing.listing_id() }}" onsubmit="return false;">
    {{ listing.view_form.hidden_tag() }}
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <div class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body p-0">
            <div class="mailbox-controls">

                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
                </button>

                {{ action_button_group(batch=True) }}

                <a type="button" class="btn btn-default btn-sm" href="">
                    <i class="fas fa-sync-alt"></i>
                </a>
                <div class="float-right">
                    {{ count_str }}
                    <div class="btn-group">
                        <a type="button" class="btn btn-default btn-sm" href="{{ previous_page }}">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a type="button" class="btn btn-default btn-sm" href="{{ next_page }}">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>

                </div>

            </div>
            <div class="table-responsive">
                <table class="table table-hover table-sm ">
                    <thead {{ listing.hidden_thead() }}>
                    <tr>
                        <th class="shrink-cell" scope="col"></th>
                        {% for  f in listing._columns %}
                            {{ f.th() | safe }}
                        {% endfor %}
                        <th class="shrink-cell" scope="col"></th>

                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td class="shrink-cell">
                                <label>
                                    <input type="checkbox" name="id" value="{{ item[listing.id_field] }}" class="mr-2">
                                </label>
                            </td>
                            {% for f in listing._columns %}
                                {{ f.td(item) | safe }}
                            {% endfor %}
                            <td class="shrink-cell">
                                {{ action_button_group(item=item) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
