<form method="post">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <div class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body p-0">
            <div class="mailbox-controls">

                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-reply"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-share"></i>
                    </button>
                </div>

                <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-sync-alt"></i>
                </button>
                <div class="float-right">
                    1-50/200
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>

                </div>

            </div>
            <div class="table-responsive">
                <table class="table table-hover table-sm ">
                    <thead>
                    <tr>
                        <th class="shrink-cell"></th>
                        <th class="shrink-cell"></th>
                        {% for f in listing.fields %}
                            <th scope="col">{{ f }}</th>
                        {% endfor %}
                        <th class="shrink-cell"></th>

                    </thead>
                    <tbody>
                    {% for item in listing.list_items() %}
                        <tr>
                            <th class="shrink-cell" scope="row">
                                <label>
                                    <input type="checkbox" name="id" value="{{ item[listing.id_field] }}">
                                </label>
                            </th>
                            <td class="mailbox-star shrink-cell"><i class="fas fa-star text-warning"></i></td>
                            {% for f in listing.fields %}
                                <td>{{ item[f] }}</td>
                            {% endfor %}
                            <td class="shrink-cell">
                                <div class="btn-group" role="group">
                                    {% for a in listing._actions %}
                                        <input type="submit" value="{{ a }}" class="btn btn-default">
                                    {% endfor %}

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
