<div class="error-page">
    <h2 class="headline text-{{ error_color }}">{{ status_code }}</h2>
    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-{{ error_color }}"></i> {{ error_message }}</h3>
        <p>
            {{ error_description or 'Oops! Something went wrong!' }}
            Meanwhile, you may <a href="/">return to home</a>.{#   or try using the search form.#}
        </p>
        {#        <form class="search-form">#}
        {#            <div class="input-group">#}
        {#                <input type="text" name="search" class="form-control" placeholder="Search">#}
        {#                <div class="input-group-append">#}
        {#                    <button type="submit" name="submit" class="btn btn-danger"><i class="fas fa-search"></i>#}
        {#                    </button>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#        </form>#}
    </div>
</div>